.logo {
  width: 80px;
}

.footer {
  background-color: #343a40;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}
