@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
}
